apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: newsugar-frontend-hpa-dev
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: newsugar-frontend-dev
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
